{% for book in book_list %}
<tr>
    <td>{{ book.id }}</td>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.get_book_type_display }}</td>
    <td>{{ book.publication_date }}</td>
    <td>{{ book.pages }}</td>
    <td>{{ book.price }}</td>

    <td>
        <button class="btn btn-sm btn-warning js-book-update" type="button"
                data-url="{%  url 'book_update' book.id %}">
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
        </button>
    </td>

    <td>
        <button class="btn btn-sm btn-danger js-book-delete" type="button"
                data-url="{%  url 'book_delete' book.id %}">
            <span class="glyphicon glyphicon-trash"></span>
            Edit
        </button>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="7" class="text-center bg-warning "> No Books</td>
</tr>
{% endfor %}